[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/nest-Microservices-curser/gateWay-ms.git
[submodule "order-ms"]
	path = order-ms
	url = https://github.com/nest-Microservices-curser/order-ms.git
